<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>
</head>
<body>
    <h1>Welcome, <%= profileInfo.name %></h1>
    <hr>
    <h3>Age : <%= profileInfo.age %></h3>
    <h3>Mail : <%= profileInfo.mail %></h3>
    <h3>Domain : <%= profileInfo.domain %></h3>
    <h3>Skills</h3>
    <ul>
        <% profileInfo.skills.forEach((item) => { %>
            <li><%= item %></li>
        <% })%>
    </ul>
    
</body>
</html>